
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPropostaLabel">Create or edit a Proposta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.proposta.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.proposta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.proposta.status" id="field_status">
                <option value="REJEITADA">REJEITADA</option>
                <option value="APROVADA">APROVADA</option>
                <option value="EM_ANDAMENTO" data-translate="qsoftwareApp.Situacao.EM_ANDAMENTO">EM_ANDAMENTO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dataApresentacao">Data Apresentacao</label>
                <div class="input-group">
                    <input id="field_dataApresentacao" type="text" class="form-control" name="dataApresentacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.proposta.dataApresentacao" is-open="vm.datePickerOpenStatus.dataApresentacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataApresentacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.proposta.alunoId" ng-options="aluno.id as aluno.id for aluno in vm.alunos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_comite">Comite</label>
            <select class="form-control" id="field_comite" name="comite" ng-model="vm.proposta.comiteId" ng-options="comite.id as comite.id for comite in vm.comites | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
