<div>
    <h2>Mostar Todos Documentos</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Titulo</span></th>
                    <th><span>Resumo</span></th>
                    <th><span>Data Criacao</span></th>
                    <th><span>Status</span></th>
                    <th><span>Tipo Documento</span></th>
                    <th><span>Arquivo</span></th>
                    <th><span>Aluno</span></th>
                    <th><span>Orientador</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documento in vm.documentos track by documento.id">
                    <td><a ui-sref="documento-detail({id:documento.id})">{{documento.id}}</a></td>
                    <td>{{documento.titulo}}</td>
                    <td>{{documento.resumo}}</td>
                        <td>{{documento.dataCriacao | date:'mediumDate'}}</td>
                    <td>{{documento.status}}</td>
                    <td>{{documento.tipoDocumento}}</td>
                    <td>
                        <a ng-if="documento.arquivo" ng-click="vm.openFile(documento.arquivoContentType, documento.arquivo)">open</a>
                        <span ng-if="documento.arquivo">{{documento.arquivoContentType}}, {{vm.byteSize(documento.arquivo)}}</span>
                    </td>
                    <td>
                        <a ui-sref="aluno-detail({id:documento.alunoId})">{{documento.alunoNome}}</a>
                    </td>
                    <td>
                        <a ui-sref="comite-detail({id:documento.documentocomiteId})">{{documento.orientadorNome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="document-detail({id:documento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
