
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConviteLabel">Create or edit a Convite</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.convite.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.convite.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.convite.status" id="field_status">
                <option value="ACEITO">ACEITO</option>
                <option value="REJEITADO">REJEITADO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dataCriacao">Data Criacao</label>
                <div class="input-group">
                    <input id="field_dataCriacao" type="text" class="form-control" name="dataCriacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.convite.dataCriacao" is-open="vm.datePickerOpenStatus.dataCriacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataCriacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipoConvite">Tipo Convite</label>
            <select class="form-control" name="tipoConvite" ng-model="vm.convite.tipoConvite" id="field_tipoConvite">
                <option value="ORIENTADOR">ORIENTADOR</option>
                <option value="COMITE">COMITE</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.convite.alunoId" ng-options="aluno.id as aluno.id for aluno in vm.alunos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_professor">Professor</label>
            <select class="form-control" id="field_professor" name="professor" ng-model="vm.convite.professorId" ng-options="professor.id as professor.id for professor in vm.professors"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_conviteprofessor">Conviteprofessor</label>
            <select class="form-control" id="field_conviteprofessor" name="conviteprofessor" ng-model="vm.convite.conviteprofessorId" ng-options="professor.id as professor.id for professor in vm.conviteprofessors | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_conviteComite">Convite Comite</label>
            <select class="form-control" id="field_conviteComite" name="conviteComite" ng-model="vm.convite.conviteComiteId" ng-options="comite.id as comite.id for comite in vm.convitecomites | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_conviteDocumento">Convite Documento</label>
            <select class="form-control" id="field_conviteDocumento" name="conviteDocumento" ng-model="vm.convite.conviteDocumentoId" ng-options="documento.id as documento.id for documento in vm.convitedocumentos | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
